Arpeggio==2.0.2
attrs==23.2.0
black==24.4.2
click==8.1.7
dill==0.3.8
grpcio==1.60.1
mypy-extensions==1.0.0
packaging==24.0
parver==0.5
pathspec==0.12.1
platformdirs==4.2.1
protobuf==4.25.3
pulumi==3.115.2
pulumi_archive==0.0.5
pulumi_aws==6.34.1
PyYAML==6.0.1
semver==2.13.0
setuptools==69.5.1
six==1.16.0
wheel==0.43.0
